# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***objectives:***
* List popular languages for Data Science.
* List commonly used libraries in Data Science.
* Apply some arthemic expressions in Python.

Some of the popular languages that Data Scientests use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. SciPy
3. Pandas
4. Tensorflow
5. Matplotlib
6. Keras
7. SciKit-learn
8. PyTorch

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| Anaconda |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [13]:
200/60

3.3333333333333335

## Author
Suleiman ALWaqqaf